<h2>Bienvenido a Calculator Service</h2>

<form method="post" action="/Home/Enter">
    <label>Nombre:</label>
    <input type="text" name="username" />

    <button type="submit">Entrar</button>
</form>

<form method="post" action="/Home/Enter">
    <input type="hidden" name="username" value="Guest"/>
    <button type="submit">Entrar como Guest</button>
</form>