<h2>Menu</h2>

<ul>
    <li><a href="/Calculator/Add">Sumar</a></li>
    <li><a href="/Calculator/Sub">Restar</a></li>
    <li><a href="/Calculator/Mul">Multiplicar</a></li>
    <li><a href="/Calculator/Div">Dividir</a></li>
    <li><a href="/Calculator/Sqrt">Raíz</a></li>
</ul>

<a href="/Home/Journal">Ver Journal</a>